body {
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Contenedor principal */
.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Título principal */
h2 {
    color: #4b2105;
    margin-bottom: 25px;
}

/* Botón */
.btn-success {
    background-color: #f7ce92;
    border-color: #6e4b34;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 10px;
}

.btn-success:hover {
    background-color: #f7ce92;
}
